body {
    font-family:'Open Sans', 'Arial Narrow', Arial, sans-serif;
    background-color: #ffdabc;
    margin: 0;
    padding: 0;
    align-items: center;
}


#nav-list {
    list-style-type: none;
    margin: 0;
    padding-left: 7rem;
    background-color: #f4887c;
    justify-content: space-around;
    display: flex;
}


#nav-list li a {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    display: block;
    color: rgb(79, 0, 0);
    text-align: center;
    padding: 2rem 6rem;
    text-decoration: none;
}

#nav-list li a:hover {
    background-color: #f77676;
}

.search {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.search input[type="text"] {
    padding: 1rem 10rem 1rem 10px;
    margin-right: 10px;
    border: none;
    font-size: 17px;
    border-radius: 4px;
}

.search button {
    padding: 1rem 1rem;
    background: white;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.search button i {
    font-size: 18px;
}

.search button:hover {
    background: darkgreen;
    color: white;
}

.filter {
    margin: auto;
    padding: 4rem 10px;
    background-color:#f79c78;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 90%;
}

.filter option, select{
    margin: 0px 10px;
    background-color:#ffded1;
    font-size: 15px;
    color: #462d26;
    flex: 1 0 10rem;
}

.filter button {
    background-color: tomato;
    color: white;
    padding: 1rem 4rem;
    font-size: 1rem;
    border-color: tomato;
    border-radius: 15px;
    flex: 1 0 10rem;
}

.filter button:hover {
    background: rgb(247, 67, 35);
    color:  white;
}

.error {
    color: red;
    text-align: center;
}

#restaurants {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    align-items: center;
    flex-grow: 1rem;
    column-gap: 1rem;
    row-gap: 1rem;
    width: 80%;
}

.box{
    width:300px;
    height: 300px;
    background-color: tomato;
    border-radius: 15px;
    margin: 10px;
    color: aliceblue;
    display: grid;
    padding: 2rem;
}

.box h2 {
    font-size: 2rem;
}

.box p {
    font-size: 20px;
}


.box:hover {
    border: solid 3px;
    border-color: crimson;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: beige;
    margin: auto;
    padding: 20px;
    border: 1px solid paleturquoise;
    width: 80%;
}

.modal-text {
    margin: 5rem 7rem;
}

.modal-text p {
    font-size: 20px;
}

.close {
    color:darkgreen;
    float: right;
    font-size: 28px;
    font-weight: bold;
}



.close:hover,
.close:focus {
    color: blue;
    text-decoration: none;
    cursor: pointer;
}

#menu-btn {
    font-size: 30px;
    border-radius: 15px;
    margin: 1rem 8rem;
    background-color: darkgreen;
    color: pink;    
}

#modal-error-msg {
    text-align: center;
    color: red;
}

.menudiv {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content:baseline;
    padding-left: 2rem;
   
}

#dailyDiv {
    display: none;
}

.menucard {
    font-size: 30px;
}

.menucard h3{
    font-size: 3rem;
}

.menucard h4 {
    font-size: 2rem;
    font-weight: bold;

}

.menucard p {
    font-size: 1rem;
    color: rgb(82, 82, 82);
}