body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:rgb(249, 233, 213);
    margin: 0;
    padding: 0;
    align-items: center;
}


#nav-list {
    list-style-type: none;
    margin: 0;
    padding-left: 7rem;
    background-color: bisque;
    justify-content: space-around;
    display: flex;
}


#nav-list li a {
    display: block;
    color: rgb(79, 0, 0);
    text-align: center;
    padding: 2rem 6rem;
    text-decoration: none;
}

#nav-list li a:hover {
    background-color: rgb(197, 174, 147);
}

.search {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.search input[type="text"] {
    padding: 1rem 10rem;
    margin-right: 10px;
    border: none;
    font-size: 17px;
    border-radius: 4px;
}

.search button {
    padding: 1rem 1rem;
    background: white;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.search button i {
    font-size: 18px;
}

.search button:hover {
    background: darkgreen;
    color: white;
}

.filter {
    margin: 1rem 5rem 5rem;
    padding: 2rem;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
}

.filter button {
    background-color: rgb(250, 208, 208);
    color: darkgreen;
    padding: 1rem 4rem;
    font-size: 1rem;
    border-color:  rgb(250, 192, 192);
    border-radius: 15px;
}

.filter button:hover {
    background: darkgreen;
    color:  rgb(250, 208, 208);
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-grow: 1rem;
}

.box{
    width:300px;
    height: 300px;
    background-color: darkgrey;
    border-radius: 15px;
    margin: 10px;
    color: aliceblue;
    display: grid;
    place-items: center;
}


.box:hover {
    border: solid 3px;
    border-color: crimson;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: beige;
    margin: auto;
    padding: 20px;
    border: 1px solid paleturquoise;
    width: 80%;
}

.modal-text {
    margin: 5rem 7rem;
}

.modal-text p {
    font-size: 20px;
}

.close {
    color:darkgreen;
    float: right;
    font-size: 28px;
    font-weight: bold;
}



.close:hover,
.close:focus {
    color: blue;
    text-decoration: none;
    cursor: pointer;
}

#menu-btn {
    font-size: 30px;
    border-radius: 15px;
    margin: 1rem 8rem;
    
}