.userForm {
    width: 60%;
    margin: auto;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    margin-top: 3rem;
    padding: 2rem;
    border: #fff5d3 solid 1px;
}

.userForm form {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.userForm form input {
    font-size: 25px;
    flex: 1 0 10rem;
    background-color: rgb(255, 242, 200);
}

.userForm form button {
    flex: 1 0 5rem;
    font-size: 25px;
}

.userForm p{
    font-size: 20px;
    color: #494440;
}

button {
    background-color: cornflowerblue;
    color: white;
    font-size: 20px;
}

#goBackBtn{
  
    margin: 0px 90rem 50px 2rem;
    float: left;
}

.profileCard {
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: #fff5d3;
    color: #72665c;
    width: 60%;
    margin: auto;
    margin-top: 3rem;
    justify-content: center;
    text-align: center;
    display: none;
    height: 30rem;
}

.profileCard h1, h2{
    padding: 1rem;
}

.profileCard p {
    font-size: 20px;
    font-weight: bold;
    margin: 30px;
}

.profileCard input {
    width: 60%;
}

#sendNewInfo {
    margin: 2rem, 2rem;
    width: 40%;
}


.profileCard button {
    border: none;
    color: white;
    padding: 15px 32px;
    border-radius: 15px;
    background-color: #E5BEB5;
    margin-top: 2rem;
}

.profileCard button:hover {
    background-color: #eaa494;
}


#createDiv {
    display: none;
}

#logInDiv {
    display: none;
}


#userCreated {
    margin: auto;
    text-align: center;
    width: 80%;
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
}

#welcomeMsg {
    width: 100%;
    padding-top: 8rem;
    padding-bottom: 3rem;
}

#activationLink {
    width: 100%;

}